.mb-50{
  margin-bottom: em(50px);
}

.mb-25{
  margin-bottom: em(25px);
}

.ml-21{
  margin-left: em(21px);
}

.pr-2em{
  padding-right: 2em;
}

.mb10{
  margin-bottom: 10px;
}

.m10{ margin: 10px 0px;}

.pr{padding-right: 24px;}
