//../prueba/index.min.css
@import "vars";
@import "mixins";
@import "margenes";
@import "contactenos";

html,body{
  width: 100%;
  height: 100%;
}

body{
  font-family: helvetica, sans-serif;
  background-color: #e2e2e2;
}

.gray{
  background-color: #e2e2e2;
}

.error{
  color: #001f58;
}

.pad{
  padding: 0px 5%;
  margin-bottom: 10px;
  max-width: 1200px!important;
}

.pad2{
  padding: 2em 5%;
  max-width: 1200px!important;
}

.center{
  text-align: center;
}

.flex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.space-between{
  @extend .flex;
  justify-content: space-between;
}

.banner{
  height: 263px;
  width: 100%;
  background-image: url(../img/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  &>h1{
    font-size: em(60px);
    font-weight: 300;
    letter-spacing: -0.3px;
    color: $blanco;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.red{
  background-color: $blanco;
  color: $rojo;
  padding-left: 5px;
  padding-right: 5px;
}

.blanco{
  color: $blanco;
}

.post-banner{
  background-color: $carne;
  font-size: em(40px);
  font-weight: 300;
  letter-spacing: -0.2px;
  text-align: center;
  color: $blanco;
  padding: .5em;
}

.banner2{
  background-image: url(../img/banner2.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.p1{
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.2px;
  color: $blanco;
  text-align: left;
}

.ver-planes{
  height: 58px;
  border-radius: 10px;
  background-image: radial-gradient(circle at 50% 50%, #005c9b, #001f58);
  color: $blanco;
  font-size: 24px;
  padding-top: .5em;
  padding-right: 1em;
  padding-left: 1em;
  position: relative;
  float: right;
  top: -59px;
  margin-right: 3px;
  font-weight: bold;
}

.input{
   border-radius: 12px;
   font-size: 1.7em;
}

.info{
  font-size: em(22px);
  font-weight: 300;
  letter-spacing: -0.2px;
  color: #f1ede4;
}

.precios{
  width: 100%;
  border-radius: 4px;
  background-image: linear-gradient(to right, #a61716, #dd1d1d);
  box-shadow: 0 3px 0 0 rgba(108, 108, 108, 0.5);
  text-align: center;
  padding: .5em;
  color: $blanco;
  font-size: 1.5em;
  font-weight: bolder;
  cursor: pointer;
}

.mb{ margin-bottom: 1em;
}
.mt{ margin-top: 1em; }

.titulopreguntas{
  font-size: 30px;
  font-weight: bold;
}

.titulopreguntas2{
  font-size: 20px;
  font-weight: bold;
}

.panding2{
  padding-right: 40px;
}

.euro{
  margin-bottom: 30px !important;
}

.subtitulo{
  text-align: center;
  position: relative;
  top: -42px;
  color: $blanco;
  font-size: em(30px);
  font-weight: bold;
}

.flex-center{
  @extend .flex;
  justify-content: center;
}

.balon{ height: 67px; }

.sigue{
  font-size: 2em;
  color: $rojo;
  font-weight: bold;
}

.p2{
  font-size: em(17px);
  letter-spacing: -0.2px;
  color: #6f6f6f;
}

.small{
  font-size: 13px;
   letter-spacing: -0.1px;
   color: #252525;
}

.inclu{
  font-size: 33px;

  text-align: center !important;
}


.incluye{
  background-color: $blanco;
  border-radius: 24px;
}

.incluye-img{  height: 51px; width: 37px;}
.l-incluye{
 font-size: em(16px);
 font-weight: bold;
 letter-spacing: -0.2px;
 text-align: center;
 color: #dd1d1d;
}
.l-incluye-des{
  font-size: em(12px);
 letter-spacing: -0.2px;
 text-align: center;
 color: #9B9B9B;

}

.flex-vertical{
  @extend .flex;
  flex-direction: column;
  align-items: center;
}

.carta{
  background-color: $blanco;
}

.img-carta{
  width: 121px;
  height: 142px;
  position: absolute;
  top: -80px;
}

.titulo-carta{
  margin-top: 5px;
  margin-left: 20px;
  font-size: em(30px);
  line-height: 1.1em;
  font-weight: bold;
  letter-spacing: -0.3px;
  color: #c2140d;
  height: 66px;
}

.pt3em{
  padding-top: 6em;

}

.li{
  background-color: $rojo;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  padding-right: 1em;

}

li{
  color: $rojo;
  font-size: 0.9em;
}

.foot{
  padding-top: 3em;
  &>.columns{
    &>.column{
      color: #414141;
      &>.can{
        font-size: 2em;
      }
      &>.p-foot{
        color: #9c9c9c;
      }
      &>h1{
        font-size: em(35px);
        font-weight: bold;
        letter-spacing: -0.3px;
        text-align: left;
      }
      &>h2{
        font-size: em(20px);
        letter-spacing: -0.3px;
        text-align: left;
      }
    }
  }
}
.a-foot{
  @extend .center;
  color: $rojo;
}

.cartas{
  padding-bottom: 3em;
}
.vacio{ width: 121px; height: 1px;}

.titulo-incluye{
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #3b3b3b;
}

.relative{ position: relative; margin-bottom: 2em; }
