footer.foot
  .columns.pad
    .column
      h1.mb Preguntas Frecuentes
      h2.mb ¿Puedo Pagar con Tarjeta de Credito?
      h2.mb In hac habitasse platea dictumst. Vivamus adipiscing fermentum 
      h2.mb Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, no
      h2.mb dum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
      h2.mb quam volutpat aliquam.n ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu biben
    .column
      h3.can.mb ¿Puedo Pagar con Tarjeta de Credito?
      p.mb.p-foot In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus pilisis accumsan turpis.
      p.mb.p-foot Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
      .center
        a.a-foot info@sivocr.com
        p.mb In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. I
