- var pFooter = "Being a full-service and multiline reinsurance intermediary brokers company, ATIS RE provides a valuable support, helping its clients to grow their business, implementing & managing their risk, increasing the profitability of their portfolios through the strategic efforts of their technical experts, and with the support of leading global reinsurers companies."
mixin foot(x)
  each val in x
    .column.center
      img(src="img/foot#{val}.png")
.pre-footer
footer.foot
  .columns.w-full
    .column.is-3
      h5.foot-title About Us
      p.foot-content #{pFooter}
    .column.is-9
      h5.foot-title Companies we represent 
      .columns.w-full
      img(src="img/mfoo.png")
      //.columns.w-full
        //+foot([1,2,3,4])
      //.columns.w-full
        //+foot([5,6,7,8])            
