footer.foot
  .columns.pad
    .column
      h1.mb Preguntas Frecuentes
      h2.mb ¿Que documentos necesito para viajar ?  
      h2.mb ¿Que categoría son los Hoteles donde nos hospedaremos en Rusia ?
      h2.mb ¿Cuando entregan los boletos de los juegos y de los vuelos aereos?
      h2.mb ¿Que pasa si reservo y después decido cancelar ?
      h2.mb ¿Que pasaría si no puedo pagar alguna mensualidad?
    .column
      h3.can.mb ¿Puedo Pagar con Tarjeta de Credito?
      p.mb.p-foot In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus pilisis accumsan turpis.
      p.mb.p-foot Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
      .center
        a.a-foot info@sivocr.com
        p.mb In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. I
