footer.foot
  .flex-center
    .columns.euro.pad
      .column
         h1.mb.titulopreguntas2 Agentes autorizados de Euroamerica 
           img(src="img/euro.png" alt="")   
  
  .flex-center
    .columns.pad
      .column.panding2
        h1.mb.titulopreguntas Preguntas Frecuentes
        h2.mb.question(data-text='["Los hoteles son de clase turista superior.","Incluyen desayuno diario cortesia del hotel."]') ¿Que categoría son los hoteles donde nos hospedaremos en Rusia?

        h2.mb.question(data-text='["Cada persona debe portar su FAN ID, el cual lo debe tramitar personalmente ante el gobierno Ruso.","La portación de la entrada no garantiza el ingreso al estadio."]') ¿Que documentos necesito para viajar? 
        h2.mb.question(data-text='["El FAN ID, es un documento obligatorio para todos los espectadores de los partidos de la Copa Mundial de la FIfa 2008, necesario para acceder al estadio.","El FAN ID, es un pequeño impreso laminado que contiene los datos personales del titular del mismo."]') ¿Que es el Fan ID?
        h2.mb.question(data-text='["El programa final se entregará 60 días antes del viaje, el cual incluirá todos los detalles de alojamientos, traslados y asistencias que dará nuestro equipo humano en Rusia.","Tal como pasó en Brasil 2014, si las posibilidades lo permiten estaremos trabajando 3 o 5 ciudades de acuerdo a las sedes donde le corresponda jugar a Costa Rica con sus correspondientes visitas sin modificar sustancialmente el precio."]') ¿Cuando entregan los boletos de los juegos y de los vuelos aereos? 
        
        //h2.mb.question(data-text='["dasdsadsa","sadsdadsadsasadsda"]') ¿Que pasaría si no puedo pagar alguna mensualidad?
      .column
        h3.can.mb.titulopreguntas2#question ¿Que documentos necesito para viajar?  
        #answer
          p.mb.p-foot Cada persona debe portar su FAN ID el cual Sibo travel le ayudara a tramitar
          p.mb.p-foot La portacion de la entrada no garantiza el ingreso al pais.
        .center
          a.a-foot info@sibocr.com
          p.mb escríbanos para más información
