footer.foot
  .flex-center
    .columns
       h1.mb.titulopreguntas Preguntas Frecuentes
  .flex-center
    .columns.pad
      .column.panding2
        h1.mb.titulopreguntas Preguntas Frecuentes
        h2.mb.question(data-text='["Los hoteles son de clase turista superior.","Incluyen desayuno diario cortesia del Hotel."]') ¿Que categoría son los Hoteles donde nos hospedaremos en Rusia ?

        h2.mb.question(data-text='["Cada persona debe portar su FAN ID el cual lo debe tramitar personalmente ante el gobierno Ruso","La portacion de la entrada no garantiza el ingreso al estadio."]') ¿Que documentos necesito para viajar ? 
        h2.mb.question(data-text='["El FAN ID es un documento obligatorio para todos los espectadores de los partidos de la Copa Mundial de la FIfa 2008, necesario para acceder al estadio. ","El FAN ID es un pequeño impreso laminado que contiene los datos personales del titular del mismo"]') ¿Que es el Fan ID ?
        h2.mb.question(data-text='["El programa final se entregara 60 días antes del inicio del viaje, el cual incluirá el detalle de los alojamientos, traslados y asistencias que dará nuestro equipo humano en Rusia.","Tal como paso en brasil 2014 si las posibilidades lo permiten estaremos trabajando 3 o 5 ciudades de acuerdo a las sedes donde le corresponda jugar a CR con sus correspondientes visitas sin modificar sustancialmente el precio."]') ¿Cuando entregan los boletos de los juegos y de los vuelos aereos? 
        
        //h2.mb.question(data-text='["dasdsadsa","sadsdadsadsasadsda"]') ¿Que pasaría si no puedo pagar alguna mensualidad?
      .column
        h3.can.mb.titulopreguntas2#question ¿Que documentos necesito para viajar?  
        #answer
          p.mb.p-foot Cada persona debe portar su FAN ID el cual lo debe tramitar personalmente ante el gobierno Ruso
          p.mb.p-foot La portacion de la entrada no garantiza el ingreso al pais.
        .center
          a.a-foot info@sivocr.com
          p.mb escribanos para mas inforamcion
