//output:../public/index.html
- var p1 = "Viaja a la Inauguración de la Copa del Mundo Rusia 2018, no te puedes perder el primer partido, que todo indica será una experiencia inolvidable. ¡Contáctanos! Y encuentra aquí de forma fácil, rápida y segura los partidos más importantes de este mundial."
- var p2 = "Reserva cuanto antes este emocionante paquete que te permitirá vivir la inolvidable experiencia de estar en los octavos de final, también podrás visitar el museo del Vodka y disfrutar de una degustación. Chequea que más incluye este fabuloso paquete."
- var p3 = "Forma parte del selecto grupo de aficionados que podrán disfrutar de los partidos más importantes de la Copa Mundial, la semifinal y final de fútbol Rusia 2018, Tours, tarjeta SIM, entradas y muchas cosas más están incluidas en nuestro paquete más exclusivo."
-var item1 = {img: "img/iglesia.png", title: "Partido Inaugural", pv:p1 , content: ["Visita de la ciudad de Moscú","Visita al museo del Vodka","Entradas al Partido inagural ","Entradas CAT1"]}
-var item2 = {img: "img/muneca.png", title: "Octavos de Final", pv:p2 , content: ["Visita de la ciudad de Moscú","Visita al museo del Vodka","Entradas al Partido #51 y #56 Semifinal ","Entradas CAT1"]}
-var item3 = {img: "img/torres.png", title: "Semi fina y Final",  pv:p3 , content: ["Visita de la ciudad de Moscú","Visita al museo del Vodka","Entradas al Partido #61 Semifinal","Entradas CAT1"]}
-var items = [item1,item2,item3]

mixin article(img,title,content,pv)
  .carta.pad
    .flex.relative
      .vacio
      img.img-carta(src="#{img}" alt="")
      .titulo-carta #{title}
    p.p-carta.mb #{pv}
    ul.mb
      each val in content
        li #[span.li] &nbsp;&nbsp; #{val}
    a(href="#inicio" id="go")
      .precios Ver Precios
        
include header.pug.jade
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")
  body
    .banner
      .flex-center
        .space-between.pad(style="width:100%;")
          img(src="img/logo1.png" alt="")
          img(src="img/logo2.png" alt="")
      h1 Quedan  #[strong.red ]  días para el Mundial
    .post-banner #[strong.blanco Viaja] y acompaña nuestra #[strong.blanco Sele] en #[strong.blanco Rusia 2018]
    section.planes.gray
      .banner2.flex-center
        .columns.pad2#inicio
          .column.is-6
            p.p1.mb Chequea nuestros paquetes, y paga en cómodas cuotas sin intereses. Nuestros paquetes incluyen, boletos de avión, hospedaje, entradas a los partidos, actividades, kit de viaje e impuestos.
            form.form
              .owl-carousel.carrusel
                .item
                  input.input#name(type="text" placeholder="¿Cuál es tu nombre?" name="name")
                  a.ver-planes.click Ver Planes
                .item
                  input.input#email(type="email" placeholder="¿Cuál es tu email?" name="email")
                  a.ver-planes.click Siguiente
                .item
                  input.input#phone(type="number" placeholder="¿Cuál es tu teléfono?" name="phone")
                  input.ver-planes.click#enviar(type="submit")
            .info.mt Para más información escribe  #[a.blanco info@sibocr.com] 
          .column
            .vacio
            iframe(style="width:100%" height="315" src="https://www.youtube.com/embed/46ZPDvQnAas?autoplay=1&controls=1")
    section.cities.gray
      .flex-center
        .owl-carousel.pad.carrusel2.owl-theme
          .item
            img(src="img/cities/1.png" alt="")
            .flex-center
              label.subtitulo Moscú
          .item
            img(src="img/cities/2.png" alt="")
            .flex-center
              label.subtitulo San Petersburgo
          .item
            img(src="img/cities/3.png" alt="")
            .flex-center
              label.subtitulo Kaliningrado
          .item
            img(src="img/cities/4.png" alt="")
            .flex-center
              label.subtitulo Kazán
          .item
            img(src="img/cities/5.png" alt="")
            .flex-center
              label.subtitulo Nizhni Nóvgorod
          .item
            img(src="img/cities/6.png" alt="")
            .flex-center
              label.subtitulo Samara
          .item
            img(src="img/cities/7.png" alt="")
            .flex-center
              label.subtitulo Volgorado
          .item
            img(src="img/cities/8.png" alt="")
            .flex-center
              label.subtitulo Saransk    
          .item
            img(src="img/cities/9.png" alt="")
            .flex-center
              label.subtitulo Rostov del Don   
          .item
            img(src="img/cities/10.png" alt="")
            .flex-center
              label.subtitulo Sochi
          .item
            img(src="img/cities/11.png" alt="")
            .flex-center
              label.subtitulo Ekaterimburgo
    
    section.steps.gray
      .flex-center
        .columns.pad
          .column.panding2
            .flex
              img.balon(src="img/balon.png" alt="")
              h2.sigue.mb Sigue a Costa Rica en el Mundial
            p.p2.mb Acompaña a nuestra Selección Nacional de Fútbol con nuestro paquete que incluye: Boleto aéreo Costa Rica - Rusia- Costa Rica, hospedaje, traslados, traductor (ruso-español), entradas, impuestos aéreos y más ¡Viajar a Rusia en junio del 2018 es muy fácil! Conoce nuestros paquetes y celebra en vivo los triunfos de nuestra querida Sele. ¡No te pierdas esta gran oportunidad!
            //p.small.mb * Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. 
            a(href="#inicio" id="go")
              .precios Ver Precios
          .column.incluye
            .flex-cnter
              p.inclu.mb Incluye
            .columns.is-fluid
              
              .column.flex-vertical
                img.incluye-img(src="img/voletos.png" alt="")
                label.l-incluye Boletos aéreos 
              .column.flex-vertical
                img.incluye-img(src="img/translados.png" alt="")
                label.l-incluye Traslados
                label.l-incluye-des Aeropuerto -Hotel- Aeropuerto
              .column.flex-vertical
                img.incluye-img(src="img/alojamientos.png" alt="")
                label.l-incluye Alojamientos
                label.l-incluye-des 5 Noches de Alojamiento
              .column.flex-vertical
                img.incluye-img(src="img/desayunos.png" alt="")
                label.l-incluye Desayunos
                label.l-incluye-des diarios cortesia del hotel
            .columns.is-fluid
              .column.flex-vertical
                img.incluye-img(src="img/visitas.png" alt="")
                label.l-incluye Visitas guiadas
                label.l-incluye-des Ciudad de Moscú, Mercado de Izmalovo , Museo del Vodka, Estaciones de metros
              .column.flex-vertical
                img.incluye-img(src="img/sim.png" alt="")
                label.l-incluye Sim Card
                label.l-incluye-des de 16 MB pre pagada durante su estadia en Rusia
              .column.flex-vertical
                img.incluye-img(src="img/estadio.png" alt="")
                label.l-incluye Entrada al estadio
                label.l-incluye-des entradas al partido inagural y traslado con guia al Estadio
              .column
                
    
    section.cartas.gray.pt3em
      .flex-center  
        .columns.pad
          each val in items
            .column
              +article(val.img,val.title,val.content,val.pv)
      
        
    include footer.pug.jade
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
    script( src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js")
    script(src="js/jquery.validate.min.js")
    script(src="js/index.js")
