//output:../public/index.html
- var p1 = "Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. "
-var item1 = {img: "img/iglesia.png", title: "Partido Inaugural", content: ["coki1","coki2","coki3"]}
-var item2 = {img: "img/muneca.png", title: "Semifinales", content: ["coki1","coki2","coki3"]}
-var item3 = {img: "img/torres.png", title: "Final", content: ["coki1","coki2","coki3"]}
-var items = [item1,item2,item3]

mixin article(img,title,content)
  .carta.pad
    .flex.relative
      .vacio
      img.img-carta(src="#{img}" alt="")
      .titulo-carta #{title}
    p.p-carta.mb #{p1}
    ul.mb
      each val in content
        li #[span.li] &nbsp;&nbsp; #{val}
    .precios Ver Precios
        
        
include header.pug.jade
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
  body
    .banner
      .space-between.pad
        img(src="img/logo1.png" alt="")
        img(src="img/logo2.png" alt="")
      h1 Quedan  #[strong.red 22]  días para el Mundial
    .post-banner #[strong.blanco Viaja] y acompaña nuestra #[strong.blanco Sele] en #[strong.blanco Rusia 2018]
    section.planes.gray
      .columns.banner2.pad2
        .column.is-6
          p.p1.mb Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique .
          .owl-carousel.carrusel
            .item
              input.input(type="text" placeholder="Cual es tu nombre")
              a.ver-planes.click Ver Planes
            .item
              input.input(type="email" placeholder="Cual es tu email")
              a.ver-planes.click Siguiente
            .item
              input.input(type="number" placeholder="Cual es tu telefono")
              a.ver-planes.click Enviar
          .info.mt Nam dapibus nisl #[a.blanco info@sibocr.com] Aenean sollicitudin
        .column
          .vacio
          iframe(style="width:100%" height="315" src="https://www.youtube.com/embed/XGSy3_Czz8k")
    section.cities.gray
      .owl-carousel.pad.carrusel2
        .item
          img(src="img/cities/1.png" alt="")
          .flex-center
            label.subtitulo Moscú
        .item
          img(src="img/cities/2.png" alt="")
          .flex-center
            label.subtitulo San Petersburgo
        .item
          img(src="img/cities/3.png" alt="")
          .flex-center
            label.subtitulo Kaliningrado
    section.steps.gray
      .columns.pad
        .column
          .flex
            img.balon(src="img/balon.png" alt="")
            h2.sigue.mb Sigue a Costa Rica en el Mundial
          p.p2.mb Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. 
          p.small.mb * Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. 
          .precios Ver Precios
        .column.incluye
          .flex-cnter
            p.inclu.mb Incluye
          .columns.is-fluid
            
            .column.flex-vertical
              img.incluye-img(src="img/voletos.png" alt="")
              label.l-incluye Voletos Aereos
            .column.flex-vertical
              img.incluye-img(src="img/translados.png" alt="")
              label.l-incluye Translados
              label.l-incluye-des Aeropuerto -Hotel - Aeropuerto
            .column.flex-vertical
              img.incluye-img(src="img/alojamientos.png" alt="")
              label.l-incluye Alojamientos
              label.l-incluye-des 5 Noches de Alojamiento
            .column.flex-vertical
              img.incluye-img(src="img/desayunos.png" alt="")
              label.l-incluye Desayunos
              label.l-incluye-des diarios cortesia del hotel
          .columns.is-fluid
            .column.flex-vertical
              img.incluye-img(src="img/visitas.png" alt="")
              label.l-incluye Visitas guiadas
              label.l-incluye-des Ciudad de Moscú, Mercado de Izmalovo , Museo del Vodka, Estaciones de metros
            .column.flex-vertical
              img.incluye-img(src="img/sim.png" alt="")
              label.l-incluye Sim Card
              label.l-incluye-des de 16 MB pre pagada durante su estadia en Rusia
            .column.flex-vertical
              img.incluye-img(src="img/estadio.png" alt="")
              label.l-incluye Entrada al estadium
              label.l-incluye-des entradas al partido inagural y traslado con guia al Estadio
            .column
              
    
    section.cartas.gray.pt3em
      .columns.pad
        each val in items
          .column
            +article(val.img,val.title,val.content)
          
        
    include footer.pug.jade
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
    script(src="js/index.js")
