//output:../public/index.html
- var p1 = ""

mixin article(img,title,content)
  .column.center
    img(src=img,class="ours-img")
    h2.ours-title=title
    p.ours-content=content
        
        
include header.pug.jade
  body
    .banner
      .space-between.pad
        img(src="img/logo1.png" alt="")
        img(src="img/logo2.png" alt="")
      h1 Quedan  #[strong.red 22]  días para el Mundial
    .post-banner #[strong.blanco Viaja] y acompaña nuestra #[strong.blanco Sele] en #[strong.blanco Rusia 2018]
    section.planes.gray
      .columns.banner2.pad2
        .column
          p.p1.mb Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique .
          input.input(type="text" placeholder="Cual es tu nombre")
          a.ver-planes Ver Planes
          .info.mt Nam dapibus nisl #[a info@sibocr.com] Aenean sollicitudin
        .column
          iframe(style="width:100%" height="315" src="https://www.youtube.com/embed/XGSy3_Czz8k")
    section.cities.gray
      .columns.pad
        .column
          img(src="img/cities/1.png" alt="")
          .flex-center
            label.subtitulo Moscú
        .column
          img(src="img/cities/2.png" alt="")
          .flex-center
            label.subtitulo San Petersburgo
        .column
          img(src="img/cities/3.png" alt="")
          .flex-center
            label.subtitulo Kaliningrado
    section.steps.gray
      .columns.pad
        .column
          .flex
            img.balon(src="img/balon.png" alt="")
            h2.sigue Sigue a Costa Rica en el Mundial
          p.p2 Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. 
          p.small * Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. 
          .precios Ver Precios
        .column
          .columns.is-fluid
            .column
              img(src="img/cities/voletos.png" alt="")
              label.l-incluye Voletos Aereos
            .column
              img(src="img/cities/translados.png" alt="")
              label.l-incluye Tranlados
            .column
              img(src="img/cities/alojamientos.png" alt="")
              label.l-incluye Alojamientos
            .column
              img(src="img/cities/desayunos.png" alt="")
              label.l-incluye Desayunos
          .columns.is-fluid
            .column
              img(src="img/cities/visitas.png" alt="")
              label.l-incluye Visitas guiadas
            .column
              img(src="img/cities/sim.png" alt="")
              label.l-incluye Sim Card
            .column
              img(src="img/cities/estadio.png" alt="")
              label.l-incluye Entrada al estadium
    
    //include footer.pug.jade
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="js/index.js")
